{
  "globals": {
    "__PATH_PREFIX__": true
  },
  "extends": ["airbnb", "airbnb-typescript", "airbnb/hooks", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
