{
  "globals": {
    "__PATH_PREFIX__": true
  },
  "extends": ["airbnb", "airbnb-typescript", "airbnb/hooks", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "patterns": [".*"]
      }
    ],
    "react/require-default-props": "off",
    "react/function-component-definition": "off",
    "arrow-body-style": "off",
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
    "no-plusplus": "off"
  }
}
