$theme-primary-color: black;
$text-color: black;
$theme-secondary-color: black;
$link-color: black;

$font-family: "Raleway", Helvetica, sans-serif;
$font-size-h1: 40px;
$font-size-h2: 30px;
$font-size-h3: 25px;
$font-size-h4: 23px;
$font-size-p: 19px;
